<form
  [formGroup]="flavorForm"
  (ngSubmit)="onSubmit()"
  class="ice-cream-form"
>
  <div class="form-field">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      pInputText
      placeholder="What kind of ice cream?"
    />
    <small *ngIf="flavorForm.get('name').invalid && flavorForm.get('name').touched" class="error-msg">
      Name is required and should only contain alphabetic characters.
    </small>
  </div>

  <div class="form-field">
    <label for="category">Category</label>
    <p-dropdown
      id="category"
      formControlName="category"
      [options]="categoryEnum"
      [style]="{'width': '100%'}"
      [showClear]="true"
      placeholder="Select a category"
    >
    </p-dropdown>
    <small *ngIf="flavorForm.get('category').invalid && flavorForm.get('category').touched" class="error-msg">
      Category is required.
    </small>
  </div>

  <!-- Show category-specific fields based on selected category -->
  <div *ngIf="flavorForm.get('category').value === CategoryEnum.CreamIce" class="form-field">
    <label for="creamContent">Cream content</label>
    <input
      type="number"
      id="creamContent"
      formControlName="creamContent"
      pInputText
      placeholder="In percentage"
    />
    <small *ngIf="flavorForm.get('creamContent').invalid && flavorForm.get('creamContent').touched" class="error-msg">
      Cream content is required and should be a positive number between 0 and 100.
    </small>
  </div>

  <div *ngIf="flavorForm.get('category').value === CategoryEnum.FruitIce" class="form-field">
    <label for="fruitContent">Fruit content</label>
    <input
      type="number"
      id="fruitContent"
      formControlName="fruitContent"
      pInputText
      placeholder="In percentage"
    />
    <small *ngIf="flavorForm.get('fruitContent').invalid && flavorForm.get('fruitContent').touched" class="error-msg">
      Fruit content is required and should be a positive number between 0 and 100.
    </small>

    <label for="fruits">Fruits</label>
    <p-multiSelect
      id="fruits"
      formControlName="fruits"
      [options]="availableFruits"
      [style]="{'width': '100%'}"
      [showClear]="true"
      [filter]="false"
      placeholder="Choose fruits"
    ></p-multiSelect>
    <small *ngIf="flavorForm.get('fruits').invalid && flavorForm.get('fruits').touched" class="error-msg">
      Fruits is required.
    </small>
  </div>

  <div *ngIf="flavorForm.get('category').value === CategoryEnum.WaterIce" class="form-field" >
    <label for="flavors">Flavors:</label>
    <p-multiSelect
      id="flavors"
      formControlName="flavors"
      [options]="availableFlavors"
      [style]="{'width': '100%'}"
      [showClear]="true" [filter]="false"
      placeholder="Choose flavors"
    ></p-multiSelect>
    <small *ngIf="flavorForm.get('flavors').invalid && flavorForm.get('flavors').touched" class="error-msg">
      Flavors is required.
    </small>
  </div>

  <div class="form-field">
    <label for="ingredients">Ingredients</label>
    <p-multiSelect
      id="ingredients"
      formControlName="ingredients"
      [options]="availableIngredients"
      [style]="{'width': '100%'}"
      [showClear]="true"
      [filter]="false"
      placeholder="Choose ingredients"
    ></p-multiSelect>
    <small *ngIf="flavorForm.get('ingredients').invalid && flavorForm.get('ingredients').touched" class="error-msg">
      Ingredients are required.
    </small>
  </div>

  <div class="form-field">
    <label for="foodIntolerances">List of food allergens</label>
    <textarea
      id="foodIntolerances"
      formControlName="foodIntolerances"
      pInputTextarea
      placeholder="Please fill out"
    ></textarea>
    <small *ngIf="flavorForm.get('foodIntolerances').invalid && flavorForm.get('foodIntolerances').touched" class="error-msg">
      Food Intolerances are required.
    </small>
  </div>

  <div class="form-field">
    <label for="nutritionalValue">Nutritional value</label>
    <input
      type="number"
      id="nutritionalValue"
      formControlName="nutritionalValue"
      pInputText
      placeholder="In kcal / 100 g"
    />
    <small *ngIf="flavorForm.get('nutritionalValue').invalid && flavorForm.get('nutritionalValue').touched" class="error-msg">
      Nutritional value is required and should be a positive number.
    </small>
  </div>

  <div class="form-field">
    <label for="buyingPrice">Buying price</label>
    <input
      type="number"
      id="buyingPrice"
      formControlName="buyingPrice"
      pInputText
      placeholder="In Euro / 1 Liter"
    />
    <small *ngIf="flavorForm.get('buyingPrice').invalid && flavorForm.get('buyingPrice').touched" class="error-msg">
      Buying price is required and should be a positive number.
    </small>
  </div>

  <div class="form-field">
    <label for="sellingPrice">Selling price</label>
    <input
      type="number"
      id="sellingPrice"
      formControlName="sellingPrice"
      pInputText
      placeholder="In Euro / 1 Liter"
    />
    <small *ngIf="flavorForm.get('sellingPrice').invalid && flavorForm.get('sellingPrice').touched" class="error-msg">
      Selling price is required and should be a positive number.
    </small>
  </div>

  <button
    pButton
    type="submit"
    [disabled]="!flavorForm.valid"
    [style.width]="'120px'"
  >Add flavor</button>
</form>
