<div class="main-container">
  <div class="app-header">
    <h3 class="app-title">Ice Cream Flavors</h3>
    <p-button
      icon="pi pi-plus"
      [style.marginTop]="'10px'"
      label="Add"
      title="Add new flavor"
      (click)="showAddFlavorModal()"
    ></p-button>
  </div>

  <p-table [value]="iceCreamFlavors" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th class="expand-width">Show details</th>
        <th style="width: 50%">Name</th>
        <th>Category</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-icecream let-expanded="expanded" >
      <tr [style.background]="'#e8f3f8'">
        <td>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="icecream"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
        <td class="font-large">{{ icecream.name }}</td>
        <td>
          <p-tag
            [severity]="getCategorySeverity(icecream.category)"
            [style]="{'width': '120px'}"
            [value]="icecream.category"
          ></p-tag>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-icecream>
      <tr>
        <td colspan="2">
          <div class="expandable-row">
            <div class="flex-container">
              <div class="flex-label">
                <p>Ingredients:</p>
                <p>{{ icecream.specifications.ingredients.join(", ") }}</p>

                <p>Food Intolerances:</p>
                <p>{{ icecream.specifications.foodIntolerances }}</p>

                <p>Nutritional Value:</p>
                <p>{{ icecream.specifications.nutritionalValue }} kcal / 100gr</p>

                <p>Buying Price:</p>
                <p>
                  {{ icecream.specifications.buyingPrice | formatToGermanCurr }}
                  <span>/ Liter </span>
                </p>
                <p>Selling Price:</p>
                <p>
                  {{ icecream.specifications.sellingPrice | formatToGermanCurr }}
                  <span>/ Liter </span>
                </p>
                <!-- Show category-specific properties if available -->
                <p *ngIf="icecream.category === CategoryEnum.FruitIce">
                  Fruit Content:
                </p>
                <p *ngIf="icecream.category === CategoryEnum.FruitIce">
                  {{ icecream.specifications.fruitContent }}%
                </p>
                <p *ngIf="icecream.category === CategoryEnum.FruitIce">
                  Fruits:
                </p>
                <p *ngIf="icecream.category === CategoryEnum.FruitIce">
                  {{ icecream.specifications.fruits?.join(", ") }}
                </p>
                <p *ngIf="icecream.category === CategoryEnum.CreamIce">
                  Cream Content:
                </p>
                <p *ngIf="icecream.category === CategoryEnum.CreamIce">
                  {{ icecream.specifications.creamContent }}%
                </p>
                <p *ngIf="icecream.category === CategoryEnum.WaterIce">
                  Flavors:
                </p>
                <p *ngIf="icecream.category === CategoryEnum.WaterIce">
                  {{ icecream.specifications.flavors?.join(", ") }}
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
